/*-----------------------------------------------*/
/*------Main CSS-----*/
/*-----------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*Prevents paddings or borders being added to overall size*/
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #28b485;
  /* Padding for entire webpage - simple white line*/
  padding: 30px; }

/*-----------------------------------------------*/
/*------Header - Background -----*/
/*-----------------------------------------------*/
.Header {
  /*VH - used for scaling on different browsers and screen sizes*/
  height: 95vh;
  /*linear gradient allows to overlap colours to mix together and position*/
  /* Opacitiy - 0.8*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/hero.jpg);
  background-size: cover;
  /* When cropping webpage/background stays the same*/
  background-position: top;
  /* used for blocking out the part of the background imager in header*/
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative; }

/*-----------------------------------------------*/
/*------Logo-----*/
/*-----------------------------------------------*/
.Header__logo-box {
  position: absolute;
  padding-left: 30px;
  top: 40px;
  height: 40px; }

.Header__logo {
  height: 35px; }

/*-----------------------------------------------*/
/*------Heading Text-----*/
/*-----------------------------------------------*/
.Header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* Remove the shaking from animation*/
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-out;
  /*
     * animation-delay: 3s;
     * animation-iteration-count: 3;
     */ }

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;
  padding-bottom: 50px;
  animation: moveInRight 1s ease-out; }

/*-----------------------------------------------*/
/*------Keyframes-----*/
/*-----------------------------------------------*/
@keyframes moveInLeft {
  0% {
    /*Ivisible*/
    opacity: 0;
    /*Start - 100px*/
    transform: translateX(-100px); }
  80% {
    opacity: 1;
    transform: translateX(10px); }
  100% {
    /*Visible*/
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    /*Ivisible*/
    opacity: 0;
    /*Start - 100px*/
    transform: translateX(100px); }
  80% {
    opacity: 1;
    transform: translateX(-10px); }
  100% {
    /*Visible*/
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    /*Ivisible*/
    opacity: 0;
    /*Start - 100px*/
    transform: translateY(30px); }
  100% {
    /*Visible*/
    opacity: 1;
    transform: translate(0); } }

/*-----------------------------------------------*/
/*------Buttons -----*/
/*-----------------------------------------------*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* Top Bottom / Left Right */
  padding: 15px 40px;
  display: inline-block;
  /* Round the button corners*/
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  /* changes the hierarchy*/
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--white::after {
  background-color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  /*This auto styles the animation at 0% */
  animation-fill-mode: backwards; }
