/*
COLORS:

Light green: #7ed56f rgb(126, 213, 111)
Medium green: #55c57a 
Dark green: #28b485 rgb(40, 100, 131)

*/

/*-----------------------------------------------*/
/*------Main CSS-----*/
/*-----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    /*Prevents paddings or borders being added to overall size*/
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    /* Padding for entire webpage - simple white line*/
    padding: 30px;
}


/*-----------------------------------------------*/
/*------Header - Background -----*/
/*-----------------------------------------------*/

.Header {
    /*VH - used for scaling on different browsers and screen sizes*/
    height: 95vh;
    /*linear gradient allows to overlap colours to mix together and position*/
    /* Opacitiy - 0.8*/
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.8), 
        rgba(40, 100, 131, 0.8)), 
        url(/img/hero.jpg);
    background-size: cover;
    /* When cropping webpage/background stays the same*/
    background-position: top;
    /* used for blocking out the part of the background imager in header*/
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
    position: relative;
}


/*-----------------------------------------------*/
/*------Logo-----*/
/*-----------------------------------------------*/        
.logo-box{
    position: absolute;
    top: 40px;
    height: 40px;
}

.logo{
    height: 35px;
    
}

/*-----------------------------------------------*/
/*------Heading Text-----*/
/*-----------------------------------------------*/
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    
    /* Remove the shaking from animation
*/
    backface-visibility: hidden;
}

.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight 400;
    letter-spacing: 35px;
    
    animation: moveInLeft 1s ease-out;
    /*
     * animation-delay: 3s;
     * animation-iteration-count: 3;
     */
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight 400;
    letter-spacing: 17.4px;
    
    animation: moveInRight 1s ease-out;
}


/*-----------------------------------------------*/
/*------Keyframes-----*/
/*-----------------------------------------------*/

@keyframes moveInLeft{
    0%{
        /*Ivisible*/
        opacity: 0;
        /*Start - 100px*/
        transform: translateX(-100px);
    }
    
    80%{
        opacity: 1;
        transform: translateX(10px);
    }
    
    100%{
        /*Visible*/
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInRight{
    0%{
        /*Ivisible*/
        opacity: 0;
        /*Start - 100px*/
        transform: translateX(100px);
    }
    
    80%{
        opacity: 1;
        transform: translateX(-10px);
    }
    
    100%{
        /*Visible*/
        opacity: 1;
        transform: translate(0);
    }
}








































