/*-----------------------------------------------*/
/*------Main CSS-----*/
/*-----------------------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /*Prevents paddings or borders being added to overall size*/
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}
