.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    max-resolution: -20vh;
    margin-top: -15rem;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(/img/nat-4.jpg);
    background-size: cover;
    
    //Moving the section up to cover white spot
    margin-top: -13rem;
    transform: skewY(-7deg);
    
    //Select everything that is a direct child of these features
    //Skewing back 7 degrees to make the row align
    & > *{
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}